<div id="top">
    <div class="container">
        <div class="col-md-6 offer">
            <a href="#"></a>
        </div>
        <div class="col-md-6">
            <ul class="menu">
                <!--<li>

                    <span class="login"> <a href="#!/registerexternal" data-toggle="modal" data-target="#">{{$ctrl.currentUser.email}}</a></span>
                </li>-->
                <li  ng-hide="$ctrl.currentUser!= null">
                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>

                <li  ng-hide="$ctrl.currentUser!= null"><a href="/index.html#!/register">Register</a></li>


                <li>
                    <a href="/index.html#!/contact">Contact</a>
                </li>
                <li>
                    <a href="#">Recently viewed</a>
                </li>
                <li ng-show="$ctrl.currentUser!= null">
                    <a href="#">Log out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Customer login</h4>
                </div>
                <div class="modal-body">
                    <form action="/index.html#!/customer-orders" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email-modal" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password-modal" placeholder="password">
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary" " onclick="store()"><i class="fa fa-sign-in"></i> Log in</button>
                            <!--<script type="text/javascript">
                            function store(){
                             var inputEmail= document.getElementById("email");
                             localStorage.setItem("email", inputEmail.value);
                             var inputPassword = document.getElementById("password");
                             localStorage.setItem("password", inputPassword.value);

                            }
                            </script>-->
                        </p>

                    </form>

                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- *** TOP BAR END *** -->
<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                <img src="/Content/Theme/img/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="/Content/Theme/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"></span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a href="/index.html#!/home">Home</a>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Drones <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>

                                            <li><h4><a href="/index.html#!/verysmalldrones">Very Small Drones</a></h4></li>

                                        </ul>

                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/smalldrones">Small Drones</a></h4></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/mediumdrones">Medium Drones</a></h4></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/largedrones">Large Drones</a></h4></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Accessories <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/bags">Drone Bags & Cases</a></h4></li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/batteries">Drone Batteries</a></h4></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/remotes">Drone Remotes</a></h4></li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><h4><a href="/index.html#!/parts">Drone Parts</a></h4></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Shop</h5>
                                        <ul>
                                            <li>
                                                <a href="/index.html#!/home">Homepage</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/store">Store</a>
                                            </li>
                                           
                                            
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>User</h5>
                                        <ul>
                                            <li>
                                                <a href="/index.html#!/register">Register / login</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/customer-orders">Orders history</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/customer-order">Order history detail</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/userprofile">User Profile</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/customer-account">Customer account / change password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Order process</h5>
                                        <ul>
                                            <li>
                                                <a href="/index.html#!/basket">Shopping cart</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/useraddress">Checkout - step 1</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/checkout2">Checkout - step 2</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/checkout3">Checkout - step 3</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/checkout4">Checkout - step 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Pages </h5>
                                        <ul>

                                            <li>
                                                <a href="/index.html#!/faq">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/text">Text page</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/text-right">Text page - right sidebar</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/404">404 page</a>
                                            </li>
                                            <li>
                                                <a href="/index.html#!/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"></span></a>
            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->

<div id="all" >
    <div id="content" >
        <div class="container" >
            <div class="col-md-3">
            </div>
                <div class="col-md-6">
                    <div>
                        <div class="box">
                            <hr>
                            <!--<form action="customer-orders.html" method="post">-->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="name@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder='name@example.com'" ng-model="$ctrl.RegisterExternalVM.Email" ">
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary" ng-click="$ctrl.RegisterExternalClick()"><i class="fa fa-user-md"></i> Register</button>
                                <br /><br />
                                <span ng-show="$ctrl.RegisterExternalVM.ShowError" class="error-message">{{$ctrl.RegisterExternalVM.ErrorMessage}}</span>
                            </div>
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
            </div>
            </div>
        </div>

            <!-- /.box -->
            <!-- /.col-md-9 -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h4>Pages</h4>

                            <ul>
                                <li>
                                    <a href="/index.html#!/text">About us</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/text.">Terms and conditions</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/contact">Contact us</a>
                                </li>
                            </ul>

                            <hr>

                            <h4 ng-hide="$ctrl.currentUser!= null">User section</h4>

                            <ul ng-hide="$ctrl.currentUser!= null">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/register">Regiter</a>
                                </li>
                            </ul>

                            <hr class="hidden-md hidden-lg hidden-sm">

                        </div>
                        <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">

                            <h4>Top categories</h4>

                            <h5>Drones</h5>

                            <ul>
                                <li>
                                    <a href="/index.html#!/verysmalldrones">Very Small Drones</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/smalldrones">Small Drones</a>
                                </li>
                                <li>
                                    <a href="/index.html#!/mediumdrones">Medium Drones</a>
                                </li>

                                <li>
                                    <a href="/index.html#!/largedrones">Large Drones</a>
                                </li>
                            </ul>

                            <h5>Accessories</h5>
                            <ul>
                                <li>
                                    <a href="/index.html#!/bags">Drone Bags & Cases</a>
                                </li>

                                <li>
                                    <a href="/index.html#!/batteries">Drone Batteries</a>
                                </li>

                                <li>
                                    <a href="/index.html#!/remotes">Drone Remotes</a>
                                </li>

                                <li>
                                    <a href="/index.html#!/parts">Drone Parts</a>
                                </li>
                            </ul>

                            <hr class="hidden-md hidden-lg">

                        </div>
                        <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">

                            <h4>Where to find us</h4>

                            <p>
                                <strong>FlyVideos</strong>
                                <br>Calea Dorobantilor 33
                                <br>400117 Cluj
                                <br>Cluj-NAPOCA
                                <br>
                                <strong>Romania</strong>
                            </p>

                            <a href="/index.html#!/contact">Go to contact page</a>

                            <hr class="hidden-md hidden-lg">

                        </div>
                        <!-- /.col-md-3 -->



                        <div class="col-md-3 col-sm-6">

                            <h4>Get the news</h4>



                            <form>
                                <div class="input-group">

                                    <input type="text" class="form-control">

                                    <span class="input-group-btn">

                                        <button class="btn btn-default" type="button">Subscribe!</button>

                                    </span>

                                </div>
                                <!-- /input-group -->
                            </form>

                            <hr>

                            <h4>Stay in touch</h4>

                            <p class="social">
                                <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                            </p>


                        </div>
                        <!-- /.col-md-3 -->

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->
            </div>
            <!-- /#footer -->
            <!-- *** FOOTER END *** -->
                <!-- *** COPYRIGHT ***
    _________________________________________________________ -->

            <div id="copyright">
                <div class="container">
                    <div class="col-md-6">
                        <p class="pull-left">© 2015 Your name goes here.</p>

                    </div>
                    <div class="col-md-6">
                        <p class="pull-right">
                            Template by <a href="http://bootstrapious.com/e-commerce-templates">Bootstrapious</a> with support from <a href="https://kakusei.cz">Kakusei</a>
                            <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                        </p>
                    </div>
                </div>
            </div>
            <!-- *** COPYRIGHT END *** -->

        </div>


        <!-- /#all -->
        <!-- *** SCRIPTS TO INCLUDE ***
